# --- Python & Virtual Environment ---
__pycache__/
*.pyc
env/
venv/
.pytest_cache/
demo.py

# --- Environment Variables (CRITICAL: NEVER COMMIT THIS) ---
.env

# --- Database ---
*.sqlite3
*.db

# --- Docker ---
.dockerignore

# --- VS Code Settings ---
.vscode/

# --- Operating System Junk ---
.DS_Store
Thumbs.db
queries

# --- Application Data ---
static/predictions/*
!static/predictions/.gitkeep

# --- Large Model Files ---
# *.pt
# *.onnx

# --- Node Modules ---
node_modules/

# --- JSON Files ---
package-lock.json
package.json